.todo-app {
  width : 500px;
  text-align: center;
 margin: 40px auto;
  padding: 20px; 
  display: flex;
  justify-content: center;
  background-color: honeydew;
  border: 1px solid black;
}
li{ 
  margin: 10px;
   padding: 10px;  
}


